@model IEnumerable<MomforLittles.Models.Category>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutBrand.cshtml";
}

<h2>Available Categories</h2>


<table class="table">
    <tr>
        <th>
            CATEGORY NAME
        </th>
        <th>
            CATEGORY IMAGE
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CATEGORY_NAME)
            </td>
            <td>
                <img height="100px" width="100px" src="@Url.Content(item.CATEGORY_IMAGE)" />
            </td>
            
        </tr>
    }

</table>
